* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: #666;
  font: 20px/1 sans-serif;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

/* Application Classes */

.book-cards {
  display: grid;
  grid-gap: 2rem 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.book-card {
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 #666;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.book-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.footer {
  align-items: center;
  color: orangered;
  display: flex;
  justify-content: center;
}

.header {
  align-items: center;
  background-color: peachpuff;
  color: orangered;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 1rem;
}

/* Utility Classes */

.container {
  margin: 0 auto;
  max-width: 32rem;
  width: 90%;
}

.wrapper {
  display: grid;
  grid-template-rows: 5rem auto 7rem;
  min-height: 100vh;
}
